body {
  background-color: #46C0FD;
}

* {
  font-family: Arial, Verdana, Sans-serif;
}

h1 {
  color: white;
}

img {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 100px;
  opacity: 0.8;
}

p {

}
